.markdown-source-view.mod-cm6 .cm-scroller {
  font-family: 'Mookmania'; 
}

/*- reading mode font -*/
.markdown-preview-view, .cm-scroller {
  font-family: 'Mookmania';
} 

body {
  --inline-title-font: "Alegreya SC";
}


/* for editing view */
.fullwidth.markdown-source-view.mod-cm6.is-readable-line-width:not(.is-rtl) .cm-contentContainer,
.fullwidth.markdown-source-view.mod-cm6.is-line-wrap.is-readable-line-width .cm-content,
.fullwidth.markdown-source-view.mod-cm6.is-line-wrap.is-readable-line-width .cm-line:not(.HyperMD-table-row) {
    max-width: 1000px;
}

/* for reading view */
.fullwidth.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
    max-width: 1000px;
}